<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-multiple"></i>
        <span class="menu-title">Administrar Usuarios</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bodegas" routerLinkActive="active">
        <i class="menu-icon mdi mdi-store"></i>
        <span class="menu-title">Administrar Bodegas</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/productos" routerLinkActive="active">
        <i class="menu-icon mdi mdi-filter"></i>
        <span class="menu-title">Administrar Productos</span>
      </a>
    </li>
  </ul>
</nav>
