<!-- Formulario de nuevo Ususario-->
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">INFORMACION REPORTE</h4>
            <form class="form-sample">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tipo</label>
                            <div class="col-sm-9">
                                <select [(ngModel)]="tipo" name="tipo" class="form-control">
                                    <option>Pie</option>
                                    <option>Lineal</option>
                                    <option>Barras</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Filtro</label>
                            <div class="col-sm-9">
                                <select [(ngModel)]="filtro" name="filtro" class="form-control">
                                    <option>Dia</option>
                                    <option>Mes</option>
                                    <option>Año</option>
                                </select>
                            </div>
                        </div>
                    </div>     
                </div>
                <button type="submit" (click)="toggle()" class="btn btn-success mr-2">Seleccionar</button> 
                <button class="btn btn-light" (click)="cancelar()" >Cancelar</button>
            </form>
        </div>
    </div>
</div>
<!-- Formulario de nuevo Ususario-->
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">GENERAR REPORTE</h4>
            <form class="form-sample">
                <div class="row">
                    <ng-container *ngIf="show">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Dia</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder ="dd/mm/aaaa" [(ngModel)]="dia" name="dia"/>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="show2">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mes</label>
                                <div class="col-sm-9">
                                    <select [(ngModel)]="mes" name="mes" class="form-control">
                                        <option>Enero</option>
                                        <option>Febrero</option>
                                        <option>Marzo</option>
                                        <option>Abril</option>
                                        <option>Mayo</option>
                                        <option>Junio</option>
                                        <option>Julio</option>
                                        <option>Agosto</option>
                                        <option>Septiembre</option>
                                        <option>Octubre</option>
                                        <option>Noviembre</option>
                                        <option>Diciembre</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="show3">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Año</label>
                                <div class="col-sm-9">
                                    <select [(ngModel)]="anio" name="anio" class="form-control">
                                        <option>2020</option>
                                        <option>2019</option>
                                        <option>2018</option>
                                        <option>2017</option>
                                        <option>2016</option>
                                        <option>2015</option>
                                        <option>2014</option>
                                        <option>2013</option>
                                        <option>2012</option>
                                        <option>2011</option>
                                        <option>2010</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <button type="submit" (click)="toggle2()" class="btn btn-success mr-2">Generar Reporte</button>
                <button class="btn btn-light" (click)="cancelar2()" >Cancelar</button>
            </form>
        </div>
    </div>
</div>

<!-- Formulario de nuevo Ususario-->
<ng-container *ngIf="showChart">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">GRAFICA PIE</h4>
                <div class="row">
                    <div id="chartContainer3" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- Formulario de nuevo Ususario-->
<ng-container *ngIf="showChart2">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">GRAFICA LINEAL</h4>
                <div class="row">
                    <div id="chartContainer2" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- Formulario de nuevo Ususario-->
<ng-container *ngIf="showChart3">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">GRAFICA BARRAS</h4>
                <div class="row">
                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
