
<!-- Tabla de Productos-->
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Inventario {{nombre_bodega}}</h4>
            <form class="form-sample">
                <button type="submit" (click)="modificarInventario()" class="btn btn-primary mr-2">Modificar Inventario</button>
            </form>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> </th>
                            <th> ID </th>
                            <th> Nombre </th>
                            <th> Precio </th>
                            <th> Cantidad </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Repitencia-->
                        <tr *ngFor="let producto of productos; let indexOfelement=index;">
                            <td>
                                <img class="mr-2" src="assets/images/menu_icons/88.png" alt="image" />
                            </td>
                            <td>
                                {{producto._id}}
                            </td>
                            <td>
                                {{producto.producto.nombre}}
                            </td>
                            <td>
                                {{producto.precio}}
                            </td>
                            <td>
                                {{producto.cantidad}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>