<!-- Formulario de nuevo Ususario-->
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">MODIFICAR PRODUCTO</h4>
            <form class="form-sample">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nombre Producto</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" [(ngModel)]="nuevo_nombre" name="nuevo_nombre"/>
                            </div>
                        </div>
                    </div>       
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Categoría</label>
                            <div class="col-sm-9">
                                <select [(ngModel)]="nueva_categoria" name="nueva_categoria" class="form-control">
                                    <option>Categoría 1</option>
                                    <option>Categoría 2</option>
                                    <option>Categoría 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Proveedor</label>
                            <div class="col-sm-9">
                                <select [(ngModel)]="nuevo_proveedor" name="nuevo_proveedor" class="form-control">
                                    <option>Proveedor 1 </option>
                                    <option>Proveedor 2</option>
                                    <option>Proveedor 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" (click)="editarProducto()" class="btn btn-success mr-2">Guardar Cambios</button>
                <button class="btn btn-light" (click)="cancelar()" >Cancelar</button>
            </form>
        </div>
    </div>
</div>